.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;                 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* header style */

.Header{
  position:relative;
  background-color:rgba(126, 28, 254, 0.05)
}

/* logo style */

.Header .logo{
  position:absolute;
  height: 33px;
  width: 160px;
  left: 28px;
  top: 28px;
  border-radius: 0px;
}


 .Header  .sub-text{
  position:absolute;
  left:54px;
  top: 174px; 
  width: 391px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 40px;
}

 
.Header .cl{
  color:#7E1CFE;
}

.Header   .rem-text{
  position:absolute;
  left:54px;
  top: 285px; 
  font-family:Poppins;
  font-style:mixed;
  font-size:20px;
}

.Header .rem-text button{
  padding-left:30px;
}


/* svg img dimension */
.Header .svg-img img{
   width: 613px;
   height:778px;
}


/*border for underline text*/
.Header .bord{
border-bottom-style:solid;
border-bottom-width:1px;
width:230px;
}

/*style  for notify */
.Header .rem-text .btn1{
  border-radius:20px;
  background-color:#7E1CFE;
}

/* style for signup button */
.Header .rem-text .btn2{
  border-radius:20px;
  margin-left: 30px;
 color:#0085FF;
}

/*style for video*/

.main h1{
  text-align:center;
}

.video{
  text-align:center;
  margin-top:36px;
}

.video video{
  border-radius: 6px;
  height: 415px;
  width: 737px;
  
}

/* style for card component */

.card-component{
  margin-top:78px;
}

.card-group{
  margin-top:6rem;
  margin-left:auto;
  margin-right:auto;
  height: 386px;
  width: 361px;

}

.card{
position:relative;
border-radius:20px;
}

.card-group .card .card-img-par{
  text-align:center;
}


.card-group .card .card-img{
  margin-top:75px;
  width:fit-content;
}

.card-body{
  position:absolute;
  bottom:0;
}


/* second card text*/



.secondcard-component .main-text{
  text-align:center;
  margin-top:5%;
}

.secondcard-component .main-text h1{
color: #7E1CFE;
}

.secondcard-component .main-text1{
  text-align:center;
  margin:2%;
} 

.secondcard-component .main-text1 h1{
  color: #7E1CFE;
  }

.secondcard-component  .secondcard-text p{
  text-align:center;
  margin:2%;
  } 

  /* second card */

.secondcard{
    height:274px;
    width:253px;
    border-style:none;
    }

.secondcard .secondcard-img{
   height:143px;
   width:253px;
}

 .check{
  padding:208px;
  padding-bottom:50px;
}

/* Sign up */
.signup h1{
  text-align:center;
  color: #7E1CFE;
  }

  .signup .input{
    margin-top:2%;
    text-align:center;
    margin:20px;
  }

  .signup .input input{
    margin:20px;
    Width:288px;
    Height:47px;
  }

  .signup  .buttons{
    text-align:center;
  }

  
  .signup  .buttons button{
    margin:20px;
  }

  .signup  .buttons .tp{
    bacground-color:#7E1CFE;
  }
/* style for footer */

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background:#D0D0D0;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-radius: 2px;
  font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
  margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}


